extends layout

block content
	div#info
		p Welcome to #{title}.

	div#player
		<div class="leanback-player-video">
		<video width="360" height="240" controls onloadedmetadata="injectTag()">
		<source src="/media/video/bunny.ogg" type='video/ogg'/>
		</video>
		</div>

	div#player
		<div class="leanback-player-video">
		<video width="360" height="60" controls onloadedmetadata="injectTag()">
		<source src="/media/audio/walter.mp3" type='audio/mpeg'/>
		</video>
		</div>

	div#buttons
		<button id="startTagButton" type="button" onclick="startTag('click')">Start tag</button>
		<button id="endTagButton" type="button" onclick="endTag('click')">End tag</button>
		<button id="clearTagButton" type="button">Clear Selection</button>
		<button id="saveTagButton" type="button">Save Tag</button>
		<button id="dragButton" type="button">Enable Drag Selection</button>

	ul#tagList