!!!
html
	head
		title= title
		link(rel='stylesheet', href='leanback/leanbackPlayer.default.css')
		script(src='http://code.jquery.com/jquery-1.6.1.min.js')
		script(src='/leanback/leanbackPlayer.pack.js')
		script(src='/leanback/leanbackPlayer.en.js')

	body!=body